h1{
    color: orange;
    text-align: justify;
    background-color: lightcyan;
    font-size: 70px;
}

h2{
    color: lightcoral;
    text-align: justify;
    background-color: lightcyan;
    font-size: 55px;
}

p{
    color: blue;
    text-align: justify;
    background-color: lightcyan;
    font-size: 45px;
}